@model a14468_employes_management.Models.Instrument

<h1>Instrument Details</h1>

<div>

    <p><strong>Id:</strong> @Model.Id</p>

    <p><strong>Tipo:</strong> @Model.TipoInstrumento</p>

    <p><strong>Nome:</strong> @Model.NomeInstrumento</p>

    <p><strong>Usa Cordas:</strong> @Model.UsaCordas</p>

</div>